:root {
    --padding: 20px;
    --barWidth: 3.75rem;
    --barHeight: 0.5rem;
    --hamburgerGap: 6px;
    --sidebarWidth: 22rem;
    --blur: 2px;
    --cream: #FCFAF8;
    --warmGrey: #F2EFED;
    --black: #202020;
    --charcoal: #1A1A1A;
    --darkGrey: #444444;
    --grey: #666666;
    --lightGrey: #999999;
    --textBoxWhiteFocus: #BBBBBB;
    --textBoxWhiteHover: #CCCCCC;
    --darkWhite: #EDEDED;
    --textBoxWhite: #E6E6E6;
    --offWhite: #F5F5F5;
    --white: #FFFFFF;
    --brickRed: #D53828;
    --buttonRed: #D33322;
    --darkButtonRed: #C3392C;
    --red: #A81F00;
    --lightRed: #FFEFE5;
    --yellow: #D4920A;
    --green: #2B8A3E;
    --tickSize: 2rem;
    --slowAnimationTiming: 300ms ease-in-out;
    --fastAnimationTiming: 150ms ease-in-out;
    --hamburgerHeight: calc(var(--barHeight) * 3 + var(--hamburgerGap) * 2);
    --headerHeight: 5rem;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden; 
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-family: var(--font);
    font-size: 1rem;
    color: var(--black);
    line-height: 1.5;
}

form,
.delete-dialogbox-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.no-transition * {
    transition: none !important;
}

button {
    font-size: 1rem;
    font-family: var(--font);
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0.375rem 0.75rem;  
    background-color: transparent;
    border-radius: 0.25rem;
}

button:hover {
    background-color: var(--warmGrey);
}

.selected-tab {
    color: var(--red);
    background-color: var(--lightRed);
}

.selected-tab:hover {
    background-color: var(--lightRed);
}

.task-count {
    color: var(--brickRed);
    font-size: 0.875rem;
    flex-shrink: 0;
}

#open-new-task-btn {
    color: var(--brickRed);
    font-weight: bold;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

#open-new-task-btn svg {
    --size: 1.5rem;

    width: var(--size);
    height: var(--size);
}

#new-project-btn {
    font-weight: bold;
    color: var(--grey);
    padding: 0.75rem 0.907rem;
}

#new-project-btn svg {
    --size: 1rem;

    width: var(--size);
    height: var(--size);
}

#new-project-btn,
#open-new-task-btn,
.cancel-btn,
.confirm-btn {
    transition: transform 50ms ease-in-out;
}

#new-project-btn:active,
#open-new-task-btn:active,
.cancel-btn:active,
.confirm-btn:active {
    transform: scale(0.97);
}

.project-name-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
    min-width: 0;
}

.project-colour {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-project-name {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    padding-right: var(--padding);
}

header {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: var(--padding);
    min-height: var(--headerHeight);
}

.header-bumper {
    width: var(--barWidth);
    height: calc(var(--barHeight) * 4);
}

.dropdown-menu {
    --xWidth: calc(var(--hamburgerHeight) * 1.41421356237); /* square root of 2 */

    display: flex;
    flex-direction: column;
    gap: var(--hamburgerGap);
    width: max-content;
    position: fixed;
    top: var(--padding);
    left: var(--padding);
    z-index: 3;
    cursor: pointer;
}

.dropdown-menu:has(input:focus-visible)::before,
.dropdown-menu:has(input:focus-visible)::after,
.dropdown-menu input:focus-visible {
    border: 1px solid var(--white);
    box-shadow: 0 0 0 1px var(--black);
}

.dropdown-menu::before,
.dropdown-menu::after,
.dropdown-menu input {
    content: "";
    width: var(--barWidth);
    height: var(--barHeight);
    background-color: var(--black);
    border-radius: 9999px;
    transform-origin: left center;
    transition: 
        opacity var(--slowAnimationTiming),
        width var(--slowAnimationTiming),
        rotate var(--slowAnimationTiming),
        translate var(--slowAnimationTiming),
        background-color var(--slowAnimationTiming),
        filter var(--slowAnimationTiming);
}

.dropdown-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.dropdown-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--xWidth);
    translate: 0 calc(var(--barHeight) / -2);
}

.dropdown-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--xWidth);
    translate: 0 calc(var(--barHeight) / 2);
}

.dropdown-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar-bumper {
    width: var(--hamburgerHeight);
    height: var(--hamburgerHeight);
    padding-bottom: 20px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    left: 0;
    translate: -100%;
    padding: var(--padding);
    background-color: var(--cream);
    width: 50%;
    max-width: var(--sidebarWidth);
    height: 100vh;
    transition: translate var(--slowAnimationTiming);
    z-index: 2;
}

.sidebar {
    position: relative;
    overflow-y: auto;
}

.dropdown-menu:has(input:checked) + .sidebar-container {
    translate: 0;
}

.dropdown-container:has(input:checked) ~ header,
.dropdown-container:has(input:checked) ~ .main-body-container {
    pointer-events: none;
    filter: blur(var(--blur));
}

.sidebar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.sidebar-list > li,
.sidebar-list > li > button,
.my-projects-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.my-projects-header {
    font-size: 1rem;
    font-weight: bold;
    color: var(--grey);
}

#new-task-form,
#new-project-form,
#delete-dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: min(100%, 31.25rem);
    padding: 1.5rem;
}

.form-header {
    display: flex;
    justify-content: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.form-row > button,
.priority-row,
.date-row,
.project-row,
.project-name-row,
.project-colour-row {
    flex: 1;
}

.priority-row,
.date-row,
.project-row,
.project-name-row,
.project-colour-row {
    display: flex;
    flex-direction: column;
    color: var(--black);
    font-weight: bold;
}

.main-body-container {
    flex: 1;
    overflow-y: auto;
    padding: 0 var(--padding) calc(var(--padding) * 2) var(--padding);
}

.todo-table-header {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    gap: 0.5rem;
}

.project-name {
    text-align: center;
    word-break: break-word;
    padding-left: 5.625rem;
    padding-right: 5.625rem;
}

.todo-table-header > div {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.todo-list-btn {
    padding: 0.532rem 0.657rem;
}

#content {
    align-items: center;
    gap: 1rem;
}

#content,
#todo-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.task-container-header {
    display: flex;
    justify-content: flex-end;
}

#task-dialog-main-body {
    display: flex;
    justify-content: space-between;
}

dialog {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 15px 50px rgba(0,0,0,.35);
    transition: transform var(--fastAnimationTiming), 
                opacity var(--fastAnimationTiming),
                display var(--fastAnimationTiming) allow-discrete,
                overlay var(--fastAnimationTiming) allow-discrete;
}

dialog::backdrop {
    backdrop-filter: blur(var(--blur));
}

@starting-style {
    dialog[open] {
        transform: scale(0.8);
        opacity: 0;
    }
}

dialog:not([open]) {
    transform: scale(0.8);
    opacity: 0;
}

dialog.is-closing {
    transform: scale(0.8);
    opacity: 0;
}

#taskName,
textarea {
    width: 100%;
}

#taskName {
    font-size: 1.5rem;
    font-weight: 600;
}

textarea {
    font-family: var(--font);
    resize: none;
    height: 5rem;
}

#taskName,
#projectName,
form input[type='date'],
textarea,
select {
    border: none;
    outline: none;
}

#projectName,
form input[type='date'],
textarea,
select {
    font-size: 1rem;
}

#projectName,
form input[type='date'],
select {
    border: 0.0625rem solid var(--textBoxWhite);
}

#new-project-header,
.date-row label,
.priority-row label,
.project-row label,
.project-form-row label,
.project-name-row label,
.project-colour-row label {
    padding-bottom: 0.5rem;
}

#projectName,
form input[type='date'],
select {
    padding: 0.375rem 0.25rem;
    border-radius: 0.25rem;
    background-color: transparent;
    font-family: var(--font);
}

#projectName:hover,
form input[type='date']:hover,
select:hover {
    border-color: var(--textBoxWhiteHover);
}

#projectName:focus,
form input[type='date']:focus,
select:focus {
    border-color: var(--textBoxWhiteFocus);
}

.cancel-btn {
    background-color: var(--offWhite);
    color: var(--darkGrey);
    font-weight: 600;
}

.cancel-btn:hover {
    background-color: var(--darkWhite);
    color: var(--black);
}

.confirm-btn {
    background-color: var(--buttonRed);
    color: var(--white);
    font-weight: 600;
}

.confirm-btn:hover {
    background-color: var(--darkButtonRed);
}

.delete-dialogbox-container {
    color: var(--black);
}

#new-project-header,
#delete-header {
    font-size: 1.25rem;
    font-weight: bold;
}

#sort-by {
    cursor: pointer;
    border: 0.125rem solid var(--textBoxWhiteHover);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#delete-textbox {
    word-break: break-word;
}

.empty-tasks {
    padding: 1rem;
}

#todo-list-container {
    gap: 1rem;
}

#todo-list-container > li {
    background-color: #FCFCFC;
    display: flex;
    border: 0.125rem solid var(--textBoxWhiteHover);
    flex: 1;
    cursor: pointer;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
}

#sort-by,
.todo-list-complete,
#todo-list-container > li {
    transition: 
        border-color var(--fastAnimationTiming),
        background-color var(--fastAnimationTiming),
        box-shadow var(--slowAnimationTiming),
        transform var(--slowAnimationTiming);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}

#sort-by:hover,
#todo-list-container > li:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.25rem 1rem;
}

.todo-list-complete:hover,
#todo-list-container > li:hover {
    transform: translateY(-0.0625rem);
}

.complete-check-box-container,
.todo-list-delete-container {
    display: flex;
    justify-content: center;
}

.complete-check-box-container {
    padding-top: 0.5rem;
}

.todo-list-delete-container {
    align-self: center;
}

.todo-list-task-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.todo-list-complete {
    position: relative;
    display: flex;
    width: var(--tickSize);
    height: var(--tickSize);
    border-radius: 50%;
    transition:
        box-shadow var(--slowAnimationTiming),
        transform var(--slowAnimationTiming);
    transform: translateY(0);
}

.todo-list-complete:hover {
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 1rem 0.125rem;
}

.todo-list-tick {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -60%;
    width: 0.45rem;
    height: 0.9rem;
    rotate: 45deg;
    pointer-events: none;
}

.todo-list-complete:has(input:checked) .todo-list-tick {
    display: block;
}

.todo-list-complete input[type="checkbox"] {
    appearance: none;
    width:  var(--tickSize);
    height: var(--tickSize);
    border-radius: 50%;
    cursor: pointer;
}

.todo-list-task-name {
    font-size: 1.25rem;
    word-break: break-word;
}

.todo-description-container {
    font-size: 1rem;
    color: var(--grey);
    word-break: break-word;
}

.todo-date-and-project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    word-break: break-word;
}

.todo-list-project-name-container {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.todo-date-container {
    color: var(--brickRed);
    word-break: break-word;
}

.show-more-btn,
.show-less-btn {
    color: var(--grey);
}

@media only screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: min(var(--sidebarWidth), 600px) 1fr;
        grid-template-rows: auto 1fr;
        height: 100vh;
        margin: 0;
        align-items: start;
    }

    .dropdown-container {
        grid-column: 1;
        grid-row: 1 / -1;
        align-self: stretch;
    }

    .sidebar-bumper {
        display: none;
    }

    .sidebar-container {
        transition: none;
        position: static;
        translate: 0;
        width: 100%;
        height: 100%;
        top: unset;
        padding-top: var(--padding);
    }

    .sidebar {
        position: static;
    }

    header {
        justify-content: flex-end;
        grid-column: 2;
        grid-row: 1;
    }

    .header-bumper {
        display: none;
    }

    .dropdown-menu {
        display: none;
    }

    .main-body-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow-y: auto;
        height: 100%;
    }

    #content {
        width: min(100%, 1200px);
    }

    form {
        width: 100%;
    }
}