:root {
    --padding: 20px;
    --barWidth: 60px;
    --barHeight: 8px;
    --hamburgerGap: 6px;
    --foreground: #333;
    --background: white;
    --animationTiming: 250ms ease-in-out;
    --hamburgerHeight: calc(var(--barHeight) * 3 + var(--hamburgerGap) * 2);
    --headerHeight: 5rem;
    --sidebarWidth: 250px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    min-height: 100vh;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
}

button {
    cursor: pointer;
}

.no-transition * {
    transition: none !important;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background-color: #666;
    padding: var(--padding);
    height: var(--headerHeight);
}

.header-container {
    display: flex;
    margin-bottom: 1rem;
}

.dropdown-menu {
    --xWidth: calc(var(--hamburgerHeight) * 1.41421356237); /* square root of 2 */

    display: flex;
    flex-direction: column;
    gap: var(--hamburgerGap);
    width: max-content;
    position: absolute;
    top: var(--padding);
    left: var(--padding);
    z-index: 2;
    cursor: pointer;
}

/* .dropdown-menu:has(input:checked) {
    --foreground: white;
    --background: #333;
} */

.dropdown-menu:has(input:focus-visible)::before,
.dropdown-menu:has(input:focus-visible)::after,
.dropdown-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.dropdown-menu::before,
.dropdown-menu::after,
.dropdown-menu input {
    content: "";
    width: var(--barWidth);
    height: var(--barHeight);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: 
        opacity var(--animationTiming),
        width var(--animationTiming),
        rotate var(--animationTiming),
        translate var(--animationTiming),
        background-color var(--animationTiming);
}

.dropdown-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.dropdown-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--xWidth);
    translate: 0 calc(var(--barHeight) / -2);
}

.dropdown-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--xWidth);
    translate: 0 calc(var(--barHeight) / 2);
}

.dropdown-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    top: var(--headerHeight);
    left: 0;
    translate: -100%;
    padding: var(--padding);
    background-color: var(--foreground);
    color: var(--background);
    width: 50%;
    max-width: var(--sidebarWidth);
    height: 100vh;
    transition: translate var(--animationTiming);

}

.dropdown-menu:has(input:checked) + .sidebar {
    translate: 0;
}

.sidebar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-list > li,
.sidebar-list > li > button,
.my-projects-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#new-task-form,
#new-project-form {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: min(100%, 500px);
    padding: var(--padding);
}

.form-header {
    display: flex;
    justify-content: center;
}

#taskDescription {
    resize: none;
    height: 10rem;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.form-row input[type='text'],
#taskDescription {
    width: 100%;
}

.form-row > button,
.priority-row,
.date-row,
.project-row {
    flex: 1;
}

.form-header,
.form-row,
.project-form-row {
    margin-bottom: 20px;
}

.priority-row,
.date-row,
.project-row {
    display: flex;
    flex-direction: column;
}

.project-form-row {
    display: flex;
    flex-direction: column;
}

.main-body-container {
    padding: var(--padding);
}

#contents,
.todo-list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.todo-container-left,
.todo-container-right {
    display: flex;
    gap: 1rem;
}

.todo-list-header {
    text-align: center;
}

.black {
    display: flex;
    background-color: #000000;
    height: 10px;
    width: 10px;
}

@media only screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: var(--sidebarWidth) 1fr;
        grid-template-rows: auto 1fr;
        min-height: 100vh;
        margin: 0;
        align-items: start;
    }

    .dropdown-container {
        grid-column: 1;
        grid-row: 1 / -1;
        align-self: stretch;
    }

    .sidebar {
        transition: none;
        position: static;
        translate: 0;
        width: 100%;
        height: 100%;
        top: unset;
        padding-top: var(--padding);
    }

    header {
        grid-column: 2;
        grid-row: 1;
    }

    .dropdown-menu {
        display: none;
    }

    .new-task-main-body {
        display: flex;
        gap: 1rem;
        flex: 1;
    }

    .main-body-container {
        display: flex;
        justify-content: center;
        grid-column: 2;
        grid-row: 2;
    }

    #contents {
        width: 100%;
        max-width: 2000px;
    }

    form {
        width: 100%;
    }
}