:root {
    --padding: 20px;
    --barWidth: 3.75rem;
    --barHeight: 0.5rem;
    --hamburgerGap: 6px;
    --cream: #FCFAF8;
    --warmGrey: #F2EFED;
    --black: #202020;
    --charcoal: #1A1A1A;
    --grey: #666666;
    --white: #FFFFFF;
    --brickRed: #D53828;
    --red: #A81F00;
    --lightRed: #FFEFE5;
    --animationTiming: 250ms ease-in-out;
    --hamburgerHeight: calc(var(--barHeight) * 3 + var(--hamburgerGap) * 2);
    --headerHeight: 5rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden; 
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: var(--black);
    line-height: 1.5;
}

.no-transition * {
    transition: none !important;
}

button {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0.375rem 0.75rem;  
    background-color: transparent;
    border-radius: 0.25rem;
}

button:hover {
    background-color: var(--warmGrey);
}

.selected-tab {
    color: var(--red);
    background-color: var(--lightRed);
}

.selected-tab:hover {
    background-color: var(--lightRed);
}

.task-count {
    color: var(--brickRed);
    font-size: 0.875rem;
    flex-shrink: 0;
}

#open-new-task-btn {
    color: var(--brickRed);
    font-weight: bold;
    justify-content: flex-start;
    gap: 0.5rem;
}

#open-new-task-btn svg {
    --size: 1.5rem;

    width: var(--size);
    height: var(--size);
}

#new-project-btn {
    padding: 12px;
    font-weight: bold;
    color: var(--grey);
}

#new-project-btn svg {
    --size: 1rem;

    width: var(--size);
    height: var(--size);
}

#open-new-task-btn,
#new-project-btn {
    transition: transform 50ms ease-in-out;
}

#open-new-task-btn:active,
#new-project-btn:active {
    transform: scale(0.97);
}

.project-name-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
    min-width: 0;
}

.project-colour {
    --size: 1rem;

    border-radius: 0.25rem;
    width: var(--size);
    height: var(--size);
}

.sidebar-project-name {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    padding-right: var(--padding);
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background-color: var(--white);
    padding: var(--padding);
    height: var(--headerHeight);
}

.header-container {
    display: flex;
    margin-bottom: 1rem;
}

.dropdown-menu {
    --xWidth: calc(var(--hamburgerHeight) * 1.41421356237); /* square root of 2 */

    display: flex;
    flex-direction: column;
    gap: var(--hamburgerGap);
    width: max-content;
    position: fixed;
    top: var(--padding);
    left: var(--padding);
    z-index: 2;
    cursor: pointer;
}

.dropdown-menu:has(input:focus-visible)::before,
.dropdown-menu:has(input:focus-visible)::after,
.dropdown-menu input:focus-visible {
    border: 1px solid var(--white);
    box-shadow: 0 0 0 1px var(--black);
}

.dropdown-menu::before,
.dropdown-menu::after,
.dropdown-menu input {
    content: "";
    width: var(--barWidth);
    height: var(--barHeight);
    background-color: var(--black);
    border-radius: 9999px;
    transform-origin: left center;
    transition: 
        opacity var(--animationTiming),
        width var(--animationTiming),
        rotate var(--animationTiming),
        translate var(--animationTiming),
        background-color var(--animationTiming);
}

.dropdown-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.dropdown-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--xWidth);
    translate: 0 calc(var(--barHeight) / -2);
}

.dropdown-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--xWidth);
    translate: 0 calc(var(--barHeight) / 2);
}

.dropdown-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar-bumper {
    width: var(--hamburgerHeight);
    height: var(--hamburgerHeight);
    padding-bottom: 20px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    left: 0;
    translate: -100%;
    padding: var(--padding);
    background-color: var(--cream);
    width: 50%;
    height: 100vh;
    transition: translate var(--animationTiming);
    z-index: 1;
}

.sidebar {
    position: relative;
    overflow-y: auto;
}

.dropdown-menu:has(input:checked) + .sidebar-container {
    translate: 0;
}

.sidebar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.sidebar-list > li,
.sidebar-list > li > button,
.my-projects-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.my-projects-header {
    font-size: 1rem;
    font-weight: bold;
    color: var(--grey);
}

#new-task-form,
#new-project-form,
#delete-dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: min(100%, 500px);
    padding: var(--padding);
}

.form-header {
    display: flex;
    justify-content: center;
}

#taskDescription {
    resize: none;
    height: 10rem;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.form-row input[type='text'],
#taskDescription {
    width: 100%;
}

.form-row > button,
.priority-row,
.date-row,
.project-row {
    flex: 1;
}

.form-header,
.form-row,
.project-form-row {
    margin-bottom: 20px;
}

.priority-row,
.date-row,
.project-row {
    display: flex;
    flex-direction: column;
}

.project-form-row {
    display: flex;
    flex-direction: column;
}

.main-body-container {
    overflow-y: auto;
    height: 100%;
    padding: var(--padding);
}

.project-name {
    cursor: pointer;
}

#content,
#todo-list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    cursor: pointer;
}

.task-container-header {
    display: flex;
    justify-content: flex-end;
}

#task-dialog-main-body {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 20rem 9fr;
        grid-template-rows: auto 1fr;
        min-height: 100vh;
        margin: 0;
        align-items: start;
    }

    .dropdown-container {
        grid-column: 1;
        grid-row: 1 / -1;
        align-self: stretch;
    }

    .sidebar-container {
        transition: none;
        position: static;
        translate: 0;
        width: 100%;
        height: 100%;
        top: unset;
        padding-top: var(--padding);
    }

    .sidebar {
        position: static;
    }

    header {
        grid-column: 2;
        grid-row: 1;
    }

    .dropdown-menu {
        display: none;
    }

    .new-task-main-body {
        display: flex;
        gap: 1rem;
        flex: 1;
    }

    .main-body-container {
        display: flex;
        justify-content: center;
    }

    #content {
        align-items: center;
        width: 100%;
    }

    #todo-list-container {
        width: min(100%, 1200px);
    }

    form {
        width: 100%;
    }
}